@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}

/* now undo the inversion on media (images, videos, svgs…), so they don’t end up looking like negatives */
[data-theme="dark"] img,
[data-theme="dark"] video,
[data-theme="dark"] canvas,
[data-theme="dark"] svg {
  filter: invert(1) hue-rotate(180deg);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Apply to body or a specific scrollable div */
body::-webkit-scrollbar {
  width: 6px; /* Narrower width */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; /* On hover */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Optional for Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
